@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/*RESET*/
.container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*RESET END*/

/*INICIO HEADER*/
header{
    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #cfdbe0;
}

header .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #ffffff;
}

header .container h1{
    font-weight: 300;
    color: #4d6e80;
    font-size: 36px;
    margin-top: 10px;
}

header .container nav ul{
   padding: 0;
}

header .container nav ul li{
    display: inline-block;
}

header .container nav ul li a{
    padding: 5px 18px;
    text-decoration: none;
    transition: .3s;
    border: 1px solid transparent;
    font-size: 14px;
    color: #1f2d36;
    font-weight: 300;
}

header .container nav ul li a:hover{
    border: 1px solid #b3c8d4;
}

header .container nav ul li a.active{
    border: 1px solid #b3c8d4;
}
/*FIN HEADER*/


/*INICIO DE INDEX*/
main{
    width: 100%;
    position: relative;
}

main #hero{
    width: 100%;
    padding-top: 170px;
    padding-bottom: 200px;
    background: url(../img/slide.jpg);
    /*las siguientes lineas respecto a background es la para la pocision del fondo*/
    background-repeat: none;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    text-align: center;
}

main #hero h2{
    font-size: 60px;
    /*line-height sirve para entrelineado*/
    line-height: 72px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

main #hero p{
    position: relative;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

main #hero p::before{
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background: #cfdbe0;
    top: 10px;
    left: 15%;
}

main #hero p::after{
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background: #cfdbe0;
    top: 10px;
    left: 69%;
}

main #hero button{
    margin-top: 44px;
    background: #f49712;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

main #hero button:hover{
    background: #f49712b3;
}

main #welcome{
    width: 100%;
    position: relative;
    padding: 40px 0;
}

main #welcome .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

main #welcome .container h2{
    font-weight: 300;
    font-size: 36px;
    color: #4e7b8b;
}

main #welcome .container p{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    line-height: 30px;
}

main #welcome .container .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

main #welcome .container .row .cont-c{
    width: 238px;
    height: 238px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #welcome .container .row .cont-c h3{
    color: #ffffff;
    font-size: 34px;
    font-weight: 600;
}

main #welcome .container .row .cont-c:nth-child(1){
    background: url(../img/page1-img-rounded-1.png);
}

main #welcome .container .row .cont-c:nth-child(2){
    background: url(../img/page1-img-rounded-2.png);
}

main #welcome .container .row .cont-c:nth-child(3){
    background: url(../img/page1-img-rounded-3.png);
}

main #projects{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
    background: #f2f2f2;
}

main #projects .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

main #projects .container h2{
    font-weight: 300;
    font-size: 34px;
    color: #4e7b8b;
}

main #projects .container p{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
}

main #projects .container .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 34px;
}

main #projects .container .row .cont img{
    width: 300px;
    height: 220px;
}

main #projects button{
    margin-top: 30px;
    background: #f49712;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

main #projects button:hover{
    background: #f49712b3;
}

main #experts{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 80px;
    background: #ffffff;
}

main #experts .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

main #experts .container h2{
    font-weight: 300;
    font-size: 34px;
    color: #4e7b8b;
}

main #experts .container .row .perf p{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    line-height: 30px;
}

main #experts .container .row .perf img{
    margin-top: 20px;
}

main #experts .container .row .perf h3{
    font-size: 20px;
    color: #4e7b8b;
    margin-top: 20px;
    font-weight: 350;
    position: relative;
}

main #experts .container .row .perf h3::before{
    position: absolute;
    content: "";
    width: 32px;
    height: 1px;
    background: #cfdbe0;
    top: 13px;
    left: 38%;
}

main #experts .container .row .perf h3::after{
    position: absolute;
    content: "";
    width: 32px;
    height: 1px;
    background: #cfdbe0;
    top: 13px;
    left: 58%;
}

main #experts .container .row .perf button{
    background: #f49712;
    padding: 8px 30px;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: .3s;
    margin-right: 5px;
    text-align: center;
}

main #experts .container .row .perf button:hover{
    background: #f49712b3;
}

footer .social{
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 70px;
    background: url(../img/socials-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;;
}

footer .social .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer .social .container h2{
    font-size: 34px;
    color: #ffffff;
    font-weight: 600;
}

footer .social .container p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    line-height: 30px;
}

footer .social ul{
    margin: 0;
    padding: 0; 
}

footer .social .container ul li{
    display: inline-block;
}


footer .social .container ul li a{
    font-size: 46px;
    margin: 0 22px;
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
}

footer .social .container ul li a:hover{
    color: #f2f2f2af;
}

footer .copy h3{
    font-size: 13px;
    color: #7e8487;
    font-weight: 200;
    text-align: center;
    padding: 20px 0;
}

footer .copy a{
    font-size: 13px;
    color: #7e8487;
    font-weight: 200;
    text-decoration: none;
    transition: .3s;
}

footer .copy a:hover{
    text-decoration: underline;
    color: #4e7b8b;
}
/*FIN DE INDEX*/

/*INICIO DE ABOUT*/
main #about{
    width: 100%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 50px;
    background: #ffffff;
}

main #about .container .row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

main #about .container .row .about-us{
    width: 60%;
    text-align: left;
    margin: 0 20px;
}

main #about .container .row .about-us h2{
    font-weight: 300;
    font-size: 34px;
    color: #4e7b8b;
}

main #about .container .row .about-us h4{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    margin: 0;
}

main #about .container .row .about-us p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
}

main #about .container .row .about-us ul{
    padding-left: 15px;
    color: orange;
    text-align: left;
}

main #about .container .row .about-us ul li a{
    color: #7e8487;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    line-height: 27px;
}

main #about .container .row .mission{
    width: 40%;
    text-align: left;
}

main #about .container .row .mission h2{
    font-weight: 300;
    font-size: 36px;
    color: #4e7b8b;
}

main #about .container .row .missi{
    display: flex;
    justify-content: start;
}

main #about .container .row .missi-1{
    margin-right: 20px;
}

main #about .container .row .missi .missi-1 h4{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    margin: 0;
}

main #about .container .row .missi .missi-1 p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
    margin-top: 5px;
}

main #what{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 80px;
    background: #f2f2f2;
}

main #what .container .row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main #what .container .row h2{
    font-weight: 300;
    font-size: 36px;
    color: #4e7b8b;
    padding-right: 0;
}

main #what .container .row h4{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    margin: 0;
}

main #what .container .row p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}

main #what .container .row .whatwe{
    width: 55%;
    text-align: left;
}

main #what .container .row .whatwe button{
    margin-top: 20px;
    background: #f49712;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

main #what .container .row .whatwe button:hover{
    background: #f49712b3;
}

main #what .container .row .whatwe .cont-a{
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}

main #what .container .row .uselful{
    width: 40%;
    text-align: left;
}

main #what .container .row ul{
    padding: 0px;
    margin-left: 15px;
    color: orange;
    text-align: left;
}

main #what .container .row ul li a{
    color: #7e8487;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    line-height: 27px;
}

main #testimon{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
    background: #ffffff;
}

main #testimon .container .row{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;
}

main #testimon .container h2{
    padding-left: 95px;
    font-weight: 300;
    font-size: 34px;
    color: #4e7b8b;
    text-align: left;
    margin-bottom: 15px;
}

main #testimon .container .row .persona{
    width: 280px;
    margin: 0 auto;
}


main #testimon .container .row .persona h4{
    font-size: 18px;
    color: #4e7b8b;
    font-weight: 300;
    margin: 0;
}

main #testimon .container .row .persona p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}

main #testimon .container .row .persona p::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/blockquote-bg.gif) no-repeat;
    top: 18px;
    left: -20px;
}
/*FIN DE ABOUT*/

/*INICIO DE SERVICIES*/
main #main{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background: #ffffff;
}

main #main h2{
    width: 90%;
    font-weight: 300;
    font-size: 36px;
    color: #4e7b8b;
    text-align: left;
    margin-left: 10%;
    margin-top: 0;
}

main #main .row{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;
}

main #main .row .service{
    width: 300px;
    text-align: left;
    margin: 20px 10px;
}

main #main .row .service span{
    display: block;
    float: left;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #4b7b99;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px;
}

main #main .row .service h3{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    margin: 0;
}

main #main .row .service p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}

main #specialized{
    width: 100%;
    position: relative;
    padding-top: 58px;
    padding-bottom: 80px;
    background: #f2f2f2;
}

main #specialized h2{
    font-weight: 300;
    font-size: 36px;
    color: #4e7b8b;
    text-align: left;
    margin-top: 0;
    margin-left: 70px;
}

main #specialized .row{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;
}

main #specialized .row .special h4{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
}

main #specialized .row .special p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}

main #specialized .row .special ul{
    padding: 0px;
    margin-left: 15px;
    color: orange;
    text-align: left;
}

main #specialized .row .special ul li a{
    color: #7e8487;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    line-height: 27px;
}
/*FIN DE SERVICIES*/

/*INICIO PROJECTS*/
main #Project{
    width: 100%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #ffffff;
}

main #Project h2{
    font-weight: 300;
    font-size: 34px;
    color: #4e7b8b;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
}

main #Project .row{
    width: 85%;
    display: flex;
    margin: 0 auto;
    text-align: left;
}

main #Project .row .Project{
    width: 300px;
    text-align: left;
    margin: 12px 10px;
}

main #Project .row .Project img{
    width: 300px;
    height: 215px;
}

main #Project .row .Project .text{
    padding: 15px 20px 26px 20px;
    border: 1px solid #d1d4d6;
    border-top: 0;
    margin: 0;
}

main #Project .row .Project .text h4{
    margin: 0;
}

main #Project .row .Project .text h4 a{
    font-size: 18px;
    color: #7e8487;
    font-weight: 300;
    text-decoration: none;
}

main #Project .row .Project .text p{
    font-size: 13px;
    color: #7e8487;
    font-weight: 300;
    line-height: 20px;
}
/*FIN PROJECTS*/















/*SMARTPHONE*/
@media screen and (max-width:500px) and (min-width:320px){
    header .container nav ul{
        width: 80%;
        margin: 0 auto;
    }
    
    header .container nav ul li{
        display: block;
        margin-bottom: 10px;
    }
    
    header .container nav ul li a{
        display: block;
    }

    main #hero{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    main #hero h2{
        font-size: 30px;
        /*line-height sirve para entrelineado*/
        line-height: 50px;
    }

    main #welcome .container .row{
        display: block;
    }

    main #welcome .container .row .cont-c{
        margin: 20px auto;
    }

    main #projects .container .row{
        display: inline;
    }

    main #about .container .row{
        width: 100%;
        display: inline;
    }

    main #about .container .row .about-us{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    main #about .container .row .mission{
        width: 100%;
        max-width: 300px;
        text-align: center;
    }
    
    main #about .container .row .missi{
        display: inline;
        text-align: center;
        margin: 10px;
        
    }

    main #about .container .row .missi-1{
        margin-bottom: 30px;
    }

    main #about .container .row .missi-1 img{
        transform: scale(1.7);
        margin-bottom: 10px;
    }

    main #what .container .row{
        width: 100%;
        margin: 0 auto;
        display: inline;
    }

    main #what .container .row .whatwe{
        width: 100%;
        text-align: center;
    }

    main #what .container .row .whatwe .cont-a img{
        transform: scale(1.2);
        margin: 20px 0;
    }

    main #what .container .row ul{
        padding: 0px;
        margin-left: 70px;
        color: orange;
        text-align: left;
    }
    
    main #testimon .container .row{
        width: 100%;
        display: inline;
        text-align: center;
    }

    main #main .row{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    
    main #specialized .row{
        width: 85%;
        display: block;
        margin: 0 auto;
    }

    main #Project .row{
        width: 85%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }
}